<!DOCTYPE html>
<html>
  <head>
    <title>asd</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>File Upload</h1>
    <form id="myform" enctype="multipart/form-data">
	    <input type="text" name="uname"><br>
	    <input type="file" name="upl"><br>
	    <input type="submit" value="Submit">
	</form>
  <script src="js/jquery-2.2.3.min.js"></script>
  <script>
    $('#myform').on("submit", function(e){
        e.preventDefault();
        $.ajax({
        url: "http://localhost:8080/upload/avatar",
        type: "POST",
        data: new FormData(this),
        contentType: false,
        cache: false,
        processData:false,
        success: function(data){
          console.log(data);
        }
      });
    });
  </script>
  </body>
</html>
